@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
  font-family: 'Wildest';
  src: url('../../assets/fonts/Wildest.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.hero {
  width: 100%;
  height: 90vh; /* Ensures it takes up the full viewport height */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1; /* Ensures it stays above the background but doesn't interfere with the footer */
}

.hero:before {
  content: '';
  position: absolute;
  background: url('../../assets/landing_page_hero_image.webp') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: 0; /* Behind everything in the hero */
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555); /* Black overlay */
  z-index: 0; /* Between the image and content */
}


.hero .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero .content {
  width: 50%;
  padding: 3rem 1rem 0rem 1rem;
  position: absolute;
  left: 5%;
  z-index: 999999;

}

/* Add these styles to LandingPage.css */

.hero .content {
    opacity: 0;
    transform: translateY(50px); /* Start position: 50px lower */
    animation: fadeUp 1s ease-out forwards; /* 1s duration, ease-out for smooth effect */
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50px); /* 50px lower at start */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Original position */
    }
}


.hero h1 {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: normal;
  }

.hero p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
  }


.hero-btn {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.hero-btn .hero-btn1 {
  background-color: #2E788C;
  color: white;
  border: none;
  padding: .8rem 3rem;
  border-radius: 1.5rem;
}

.hero-btn .hero-btn2 {
  background-color: #ffffff;
  color: #2E788C;
  border: none;
  padding: .8rem 3rem;
  border-radius: 1.5rem;
}

.hero-arrow {
  padding-top: 5px;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

  .hero .content {
    width: 100%;
    top: 50%;
    left: 0%;
  }

    .hero h1 {
        font-size: 2rem;
        text-align: center;
    }
    .hero h2 {
      text-align: center;
  }


    .hero p {
      font-size: 1rem;
      color: rgb(255, 255, 255);
  }
  

}
