@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
  font-family: 'Wildest';
  src: url('../../assets/fonts/Wildest.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.detox-program {
  width: 100%;
  height: 80vh; /* Ensures it takes up the full viewport height */
  position: relative;
  z-index: 1; /* Ensures it stays above the background but doesn't interfere with the footer */
}
  
  .detox-program:before {
    content: '';
    position: absolute;
    background: url('../../../assets/detox_hero.webp') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1; /* Behind everything in the hero */
  }
  
  .detox-program:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1b2f4d98; /* Black overlay */
    z-index: -1; /* Between the image and content */
  }
  
  .detox-program-content .content{
    position: absolute;
    right: 0%;
    bottom: 25%;
    text-align: center;
    width: 60%;
    padding: 1rem;
    z-index: 1; /* Ensures it stays above the background but doesn't interfere with the footer */    
  }
  
  

.detox-program h1 {
  width: 100%;
    font-size: 3rem;
    color: rgb(240, 230, 230);
    line-height: normal;
    font-family: 'Wildest', sans-serif;
    text-align: center;
}

.detox-program h2 {
    color: rgb(240, 230, 230);
    width: 100%;
    line-height: normal;
    font-size: 1.5rem;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

  .detox-program-content .content{
    width: 100%;
    padding: 1rem;
    z-index: 1; /* Ensures it stays above the background but doesn't interfere with the footer */    
  }


    .detox-program-content h1 {
        font-size: 2rem;
        text-align: center;
    }
    .detox-program h2 {
      text-align: center;
      font-size: 1rem;
  }

  

}
