
.meth-hero {
    background-image: url('../../assets/meth_hero.jpeg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.meth-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.904);
    opacity: .6;
    /* !!! */
    z-index: 1;
}

.image-caption {
    position: absolute;
    bottom: 10%;
    width: 100%;
    z-index: 2;
}

.image-caption h1 {
    color: white;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    line-height: normal;
}

.meth-flex {
    display: flex;
    gap: 1rem;
    padding: 3rem 1rem;
}

.meth-menu {
    width: 50%;
}

.meth-caption {
    width: 100%;
    margin: auto;
}


.meth-caption h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.meth-caption h2 {
    font-size: 1.2rem;
    padding: .5rem 0;
}

.meth-caption p {
    font-size: 1rem;
    padding: 0;
    line-height: normal;
}

.meth-caption ul {
    list-style: disc;
}

.meth-image {
    width: 100%;
}

.meth-image img {
    width: 100%;
}


@media screen and (max-width: 940px) {
    .meth-flex {
        flex-wrap: wrap-reverse;
    }

    .meth-menu {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .image-caption h1 {
        font-size: 2rem;
        line-height: normal;
    }
}

